@font-face {
    font-family: 'IBM-FONT';
    src: local('IBM-FONT'), url(../fonts/IBMPlexSansCondensed-Regular.ttf) format('truetype');
  }
  
a{
    color:grey !important;
}
a.spacial{
  color:orange !important;
}
.body{
    font-family: "IBM-FONT" !important;
} 

@media (min-width:0px) and (max-width:768px) {
    .container-btc{
        padding: 20px 0px !important;
    }
    .searchpadding{
      padding-top: 30px;
    }
    .bordering{
      border-bottom: 1px solid #3b3b3b; 
    }
    div#tranding{
       order: 1;
    }
    div#price{
        order: 2;
    }
    div#coinsearch{
        order: 3;
    }
}
@media all and (min-width:768px) {
    .container-btc{
        padding: 20px 0px !important;
    }
    .border-right{
        border-right: 1px solid #3b3b3b; 
     }
    .bordering{
      border-right: 1px solid #3b3b3b; 
    }
    .borderingl{
      border-left: 1px solid #3b3b3b ;
    }
    .borderbottom{
      border-bottom: 1px solid #3b3b3b;
    }
    .searchpadding{
      padding-top: 20px;
    } 
}

::-webkit-scrollbar {
    width: 10px;
    height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(58, 58, 58); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(117, 117, 117); 
  }

.MuiTabs-indicator{
  background-color: transparent !important;
}

.bordertop{
   border-top: 1px solid #3b3b3b;
}

.bccc{
  color:#161515;
}
@media all and (min-width:1280px){
  .noscroll{
    overflow: hidden !important;
  }
}